customersapi/src/main/mule/customers-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd 
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="customers-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <apikit:config name="customers-api-config" raml="customers-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties file="db-config.properties" doc:name="DB configurations" doc:id="872422be-3571-4a52-a383-a2b0e16859d7" />
    <db:config name="CustomerDB" doc:name="Database Config" doc:id="40a95459-9e8d-4d31-ad3d-1885496313a5" >
		<db:my-sql-connection host="${db.host}" port="${db.port}" user="${db.password}" password="${db.password}" database="customerDB" />
	</db:config>
	<flow name="customers-api-main">
        <http:listener config-ref="customers-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="customers-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="9dcda1a6-3219-426b-aadd-31d6c466dc63">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="customers-api-console">
        <http:listener config-ref="customers-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="customers-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="delete:\customers\(id):customers-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.id</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "40401",
  message: "Customer record does not exist"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\customers\(id):application\json:customers-api-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="c8b800ac-c59d-473f-be3e-8a0d39e7d93f">
            <ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  errorCode: "40002",
  message: "Age is not a valid field to update"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\customers:customers-api-config">
        <http:listener doc:name="Listener" doc:id="7224a164-0e98-4ca3-8d3c-b25fb6158007" config-ref="customers-api-httpListenerConfig" path="/get"/>
		<logger level="INFO" message="Invoking get customers" />
		<db:select doc:name="Get Customers DB" doc:id="fd3be38f-22e9-444b-ac69-94f7bed80e20" config-ref="CustomerDB">
			<db:sql >select * from customer</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="022cb45a-0215-41eb-be2c-3a191e3df928" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	firstName: payload01.firstName,
	lastName: payload01.lastName,
	lastUpdated: payload01.lastUpdated as String,
	addresses: {
		work: payload01.workAddress,
		home: payload01.homeAddress
	},
	deleted: payload01.deleted as Boolean,
	id: payload01.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="f8fd19f7-14b5-4142-b69e-c7acaee77859" />
    </flow>
    <flow name="get:\customers\(id):customers-api-config">
        <http:listener doc:name="Listener" doc:id="d7612dd8-f580-4dc8-b355-bcaa72b258c0" config-ref="customers-api-httpListenerConfig" path="/customers/{id}" allowedMethods="GET">
			<http:error-response statusCode="500">
				<http:body ><![CDATA[#[payload]]]></http:body>
			</http:error-response>
		</http:listener>
		<logger level="INFO" doc:name="Logger" doc:id="2d455b0d-1931-4a5b-8858-aeb5e4051bfd" message='Getting customer record for id #[attributes.uriParams.id]'/>
		<db:select doc:name="Get Customer Record" doc:id="88268b72-3135-47db-ad22-1eac143f02a3" config-ref="CustomerDB">
			<db:sql >SELECT * FROM customer WHERE id= :id</db:sql>
			<db:input-parameters ><![CDATA[#[{'id' : attributes.uriParams.id}]]]></db:input-parameters>
		</db:select>
		<set-variable value="#[sizeOf(payload)]" doc:name="Set Variable" doc:id="e938c223-c33e-4379-956f-ef2eac881590" variableName="count"/>
		<logger level="INFO" doc:name="Logger" doc:id="a50973b7-d239-42a4-ba28-aa34eb69fbd3" message="#[vars.count]"/>
		<choice doc:name="hasResults?" doc:id="709ee5bc-62fa-4fe2-9544-9af4369e744b" >
			<when expression="#[vars.count == 1]">
				<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:id="523858b9-d69a-4e00-b962-d05070060131">
            <ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	firstName: payload[0].firstName,
	lastName: payload[0].lastName,
	lastUpdated: payload[0].lastUpdated as String,
	addresses: {
		home: payload[0].homeAddress,
		work: payload[0].workAddress
	},
	deleted: payload[0].deleted,
	id:payload[0].id
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
                <ee:set-variable variableName="id"><![CDATA[attributes.uriParams.id]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
            </when>
			<otherwise >
				<logger level="WARN" doc:name="Logger" doc:id="0e45d634-01a2-439f-a6c2-1616b32eaea1" message="Error - no records" />
				<set-payload value='{ 
      "errorCode" : "40401",
      "message" : "Customer record does not exist"
  }' doc:name="Set Payload" doc:id="e449acbc-0666-4895-9461-ddea121d6fa8" mimeType="application/json" />
				<set-variable value="404" doc:name="Set Variable" doc:id="3d8e25cc-06b8-4475-a96b-014aa4e9a3e2" variableName="httpStatus"/>
            </otherwise>
		</choice>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="045d3c81-7968-4683-ad4e-6b9d4abc71d8" type="ANY">
				<set-payload value='{ 
      "errorCode" : "50001",
      "message" : "Server error encountered"
  }' doc:name="Set Payload" doc:id="cb734a49-7692-4722-acd0-546ee19150c9" mimeType="application/json" />
				<set-variable value="500" doc:name="Set Variable" doc:id="3d8e25cc-06b8-4475-a96b-014aa4e9a3e2" variableName="httpStatus"/>
			</on-error-propagate>
		</error-handler>
    </flow>
    <flow name="post:\customers:application\json:customers-api-config">
        <http:listener doc:name="Listener" doc:id="97ec7c8d-78a8-44d8-b06c-7ac281baf5d5" config-ref="customers-api-httpListenerConfig" path="/customers"/>
		<ee:transform doc:name="Transform Message" doc:id="47455502-e045-4139-bd2c-d9985ef0449c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
</mule>
